@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-ExtraLight.ttf') format('truetype')
}

.threadsList{
    color: white;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.thread{
    background-color:#fca;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 538px;
    max-width: 1250px;
    overflow-wrap: break-word;
    padding: 15px;
    border-radius: 10px;
}

.threadInfo p{
    display: flex;
    float: right;
    max-width: 100%;
    min-height: 2em;
    
}


.briefText{
    float: left;
    font-family: Montserrat, serif;
    font-size: 20px;
    text-wrap: wrap;
    flex-shrink: 1;
    width: 75%;
    padding: 15px 0;
    overflow-wrap: break-word;
    color: #800;
}

.createdAt{
    font-family: Montserrat, serif;
    font-size: 14px;
    margin-right: 1%;
    padding-left: 5%;
    display: inline-flex;
    text-wrap: nowrap;
    flex-shrink: 5;
}

.createdBy{
    max-width: 10em;
    font-family: Montserrat, serif;
    font-size: 20px;
    text-wrap: nowrap;
    display: inline-block;
    margin-right: 2%;
    flex-shrink: 5;
}

.link{
    text-decoration: none;
    color: white !important;
    margin: 5px 0;
}

.replies{
    margin-top: 5vh;
    margin-left: 3vw;
}